// Backgrond Colors//

:root {
  --bgc_primary: #ffffff;
  --bgc_primary_1: #ffffff7a;
  --bgc_secondary: #eeeeee;
  --bgc_secondary_1: #ebebeb;
  --bgc_blue: #528ff0;
  --bgc_warning: #d74d52;
  --bgc_warning_subtle: #d74d5240;
  --bgc_warning_light: #d74d52cf;
  --bgc_dark: #23374b;
  --bgc_gray: #333333;
  --bgc_gray_1: #00000080;
  --bgc_gray_2: #00000061;
  --bgc_dark_1: #192735;
  --bgc_dark_2: #15222e;
  --bgc_black: #000000;
  --bgc_light: #0000001a;

  // Text Colors //
  --t_white: #ffffff;
  --t_green: #3adc79;
  --t_light_gray: #a3b5ca;
  --t_gray: #777777;
  --t_gray_1: #555555;
  --t_gray_2: #495057;
  --t_black: #000000;
  --t_dark_blue: #192836;
  --t_orange: #f28202;
  --t_red: #ff3a2d;
  --t_red_subtle: #d74d52;

  //Borders Colors//
  --b_white: #ffffff;
  --b_gray: #cccccc;
  --b_gray_dark: #19283659;
  --b_red: #ff3a2d;
  --b_red_subtle: #d74d52;
}
